<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.clinicmanagement">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_management_48"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.ClinicManagement"
        tools:replace="android:label,android:supportsRtl">

        <activity android:name=".ui.AppointNow" />
        <activity android:name=".ui.SplashActivity"
            android:configChanges="locale"


            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.Reports" />
        <activity android:name=".ui.AddAppointment" />
        <activity android:name=".ui.ShowAllPatients" />
        <activity android:name=".ui.Appointments" />
        <activity android:name=".ui.NewPatient">

        </activity>
        <activity android:name=".ui.Main_page"
            android:configChanges="locale"
            />
    </application>

</manifest>